@mixin text($color,$size,$space,$bold){
    color:$color;
    font-size: $size;
    letter-spacing: $space;
    transition: all 1s ease;
    font-weight: $bold;
    font-family: 'Poppins', sans-serif;
}
@mixin button ($color,$bg,$fontSize){
    color:$color;
    font-size: $fontSize;
    background-color: $bg;
    padding:14px 36px;
    border: none;
    font-family: 'Poppins', sans-serif;
}
@mixin arrow ($origin){
    height: 15px;
    width: 2px;
    background: #000;
    transition: all .35s ease;
    transform-origin: $origin;
}
@mixin Slide($Img){
    position: absolute;
    top:0%;
    left:0%;
    height:100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center center;
    background-image:url($Img);
    background-repeat: no-repeat;
}
@mixin line($H,$W,$M){
    height:$H;
    width:$W;
    background:#000;
    margin:$M 0px;
}
@mixin title($size,$color){
    font-size: $size;
    font-family: 'Cormorant Upright',serif;
    letter-spacing: 0.1em;
    font-style: italic;
    color:$color;
}